html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: #231717;
    /* font-feature-settings: "palt"; */
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #231717;
    display: block;
}

li {
    list-style-type: none;
}

.c-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
}

button {
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ----------------------------------------------------------------------------------- */
/* Fonts */
/* ----------------------------------------------------------------------------------- */
h1 {
    display: flex;
    flex-direction: column;
}

h2 .title {
    font-family: a-otf-ryumin-pr6n, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.2vw;
    line-height: 2.2vw;
    margin-bottom: 11px;
    margin-top: -1.2vw;
}

h2 .title2 {
    font-family: 'YuGothic', "Yu Gothic Medium", "Yu Gothic";
    font-style: normal;
    font-weight: 700;
    font-size: 1.66vw;
    line-height: 1.66vw;
}

h3 {
    font-family: a-otf-ryumin-pr6n, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3.3vw;
    line-height: 4.44vw;
    font-feature-settings: "palt";
    letter-spacing: 0.50rem;
    margin-bottom: 40px;
}

.txt {
    font-family: 'YuGothic', "Yu Gothic Medium", "Yu Gothic";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    width: 39.65vw;
    text-align: justify;
    letter-spacing: 0.05rem;
    /* font-feature-settings: "palt"; */
}

.txt_up1,
.txt_up2,
.txt_up3 {
    font-family: a-otf-ryumin-pr6n, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 4.44vw;
    line-height: 4.44vw;
}

/*  Universal */
#contains {
    margin-left: 13.8vw;
    margin-right: 13.8vw;
}

.section_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 160px;
}

#about .section_inner{
    padding-bottom: 0;
}
/* 
CONTACT BUTTON HOVER
*/
#header li:last-child a {
    display: block;
    /* width: 300px; */
    padding: 100px 100px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(to right,
            #fff 0%,
            #fff 50%,
            #231717 50%,
            #231717 100%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.2s;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

#header li:last-child a:hover {
    background-position: 0 0;
    color: #231717;
}

/*  */
/* link hover*/
/*  */
li:not(:last-child) a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #231717;
    text-decoration: none;
}

li:not(:last-child) a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #231717;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
}

li:not(:last-child) a:hover:after {
    transform: translate(0, 0);
}

#footer li a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #231717;
    text-decoration: none;
}

#footer li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #231717;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
}

#footer li a:hover:after {
    transform: translate(0, 0);
}

/* ----------------------------------------------------------------------------------- */
/* pc version */
/* ----------------------------------------------------------------------------------- */
.smp_txt {
    display: none;
}

.smp_item {
    display: none;
}

/* ----------------------------------------------------------------------------------- */
/* about */
/* ----------------------------------------------------------------------------------- */
#about h2 {
    order: 2;
}

#about .txtbox {
    order: 1;
}

#about button {
    /* background: #231717; */
    /* background: #D9D9D9; */
border-radius: 10px;
padding: 30px;
background-repeat: no-repeat;
background-position: 100% 0;
background-size: 200% auto;
background-image: linear-gradient(to right,
#fff 0%,
#fff 50%,
#231717 50%,
#231717 100%);
box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
transition: background-position ease 0.2s;
transition: all 0.8s;
color: #fff;
}

#about button:hover{
    background-position: 0 0;
    color: #231717;
}

#about button:hover .btn_message_en ,
#about button:hover  .btn_message_jp {
    background-position: 0 0;
    color: #231717;
}
    
.btn_inner{
    margin-top: 50px;
    margin-right: 13.8vw;
    margin-bottom: 60px;
    transition: all 1.5s;
}


#about .btn_message_en {
    font-family: 'A-OTF Ryumin Pr6N';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    transition: all 0.8s;

}

#about .btn_message_jp {
    font-family: 'YuGothic';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 0.29em;
    transition: all 0.8s;
}

#about .btn_up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}

#about .btn_up_left{
    text-align: left;
}

#about .btn_message{
    display: flex;
    justify-content: flex-end;

}

#about .btn_up_right{
    height: 11.76px;
    width: 11.76px;
}

.btn_human{
    margin-left: 30px;
    transition: all 0.8s;
}

.btn_inner:hover .btn_human {
    margin-left: 60px;
}

.btn_human img{
    width: 23px;
}

/* ----------------------------------------------------------------------------------- */
/* value */
/* ----------------------------------------------------------------------------------- */
#value .section_inner {
    display: block;
}

/* ----------------------------------------------------------------------------------- */
/* partnership */
/* ----------------------------------------------------------------------------------- */
#partnership .section_inner {
    display: block;
    background-color: #f4f4f4;
    margin-left: -13.8vw;
    margin-right: -13.8vw;
}

#partnership h2 {
    text-align: center;
    margin-bottom: 40px;
}

#partnership .txt {
    width: 43vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.btn_contact {
    font-family: 'YuGothic', "Yu Gothic Medium", "Yu Gothic";
    font-style: normal;
    font-weight: 500;
    width: auto;
    font-size: 24px;
    color: #fff;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn_contact a {
    display: block;
    /* width: 300px; */
    padding: auto;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 200% auto;
    background-image: linear-gradient(to right,
            #fff 0%,
            #fff 50%,
            #231717 50%,
            #231717 100%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
    transition: background-position ease 0.2s;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 24px;
}

.btn_contact:hover a {
    background-position: 0 0;
    color: #231717;
}

.btn_contact a {
    display: block;
}

/* ----------------------------------------------------------------------------------- */
/* company */
/* ----------------------------------------------------------------------------------- */
.companyinfo th,
.companyinfo td {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 2.2vw;
    padding-left: 0;
    padding-right: 4.4vw;
    text-align: left;
    vertical-align: middle;
    line-height: 38px;

}

/* ----------------------------------------------------------------------------------- */
/* header */
/* ----------------------------------------------------------------------------------- */
#header {
    position: fixed;
    padding: 30px 90px 30px 60px;
    z-index: 100;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.header-inner {
    width: 92vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hd-logo {
    display: flex;
    gap: 24px;
}

.logo-circle {
    width: 47px;
}

.logo-name {
    width: 100px;
}

.hd-inner-right {
    display: flex;
    align-items: center;
}

.hd-contact a {
    width: 127px;
    height: 44px;
    font-family: Alata;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    /* background-color: #E50029; */
    /* background: linear-gradient(90deg, #E50029 0%, #FF7AAA 100%); */
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}


/* NAV */
.nav_content {
    display: flex;
    justify-content: space-between;
    font-family: 'A-OTF Ryumin Pr6N';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

.header_logo {
    width: 175px;
}

.nav-list {
    display: flex;
    gap: 24px;
}

#header li:last-child a {
    color: #fff;
    background-color: #231717;
    padding: 0 20px;
}

/* メニュー */
/* ----------------------------------------------------------------------------------- */
/* FV */
/* ----------------------------------------------------------------------------------- */

#fv {
    background-image: url(../images/fv_bg.png);
    background-position: 14.3vw bottom;
    background-repeat: no-repeat;
    background-size: 78.5vw;
    background-attachment: fixed; /*--背景画像の固定--*/
    height: 100vh;
    min-height: 800px;
    margin-left: 13.88vw;
    margin-right: 6.94vw;
}

.fv_title {
    padding-top: 18.2vw;
}

.txt_up1 {
    margin-bottom: 27px;
}

.txt_dwn {
    width: 30vw;
    font-family: 'YuGothic';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: 0.05rem;
    position: absolute;
    bottom: 0;
    text-align: justify;
}

.fv-bg-circle {
    position: absolute;
    width: 50%;
    height: 50%;
    margin-top: 8.3%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.fv-inner {
    /* width: 83vw; */
    margin: 0 auto;
}

.fv-inner-bot {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.fv-subtitle {
    position: absolute;
    left: 0;
    bottom: 0;
    /* width: 796px; */
    width: 45%;
}

.fv-inner-bot-right {
    position: absolute;
    right: 0;
}

.fv-tegaki-phrase {
    width: 475px;
}

.fv-mini-phrase {
    padding-top: 35px;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 175%;
}

.fv-scroll {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 72px 32px 0;
    font-family: 'Alata', sans-serif;
    font-size: 1.3rem;
    letter-spacing: .08em;
}

.fv-scroll-arrow {
    margin-right: 12px;
    padding-bottom: 4px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.fv-scroll-arrow img {
    width: 50%;
}

/* スクロールの矢印を真ん中に
    2030背景画像を用意
    それに靴を入れておく

    ヘッダーの作成

    mini-titleをYuGothicで作り変える

    バーガーメニューおいておく
    その後コンタクトボタンの作成
    メニュー隠しておく
*/

/* FOOTER */
#footer {
    background-image: url(../images/footer_bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-inner {
    margin-left: 13.88vw;
}

.footer-container {
    background-color: #111111;
    padding: 40px 8.3% 80px 8.3%;
}

.footer-inner-up {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.footer-img {
    /* background: url(../images/footer-contact-bg.png);
    background-repeat: no-repeat;
    width: 41vw;
    height: 235px; */
    position: absolute;
}

.footer-contact-title {
    padding-left: 56px;
    padding-top: 127px;
}

.footer-contact-text {
    padding-left: 56px;
}

.footer-contact-text {
    margin-top: 8px;
    font-family: YuGothic;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.footer-contact {
    margin: auto 0;
}

.footer-inner-middle {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 40px;
}

.footer-logo {
    width: 170px;
}

.footer-nav {
    margin: auto 0;
}

.footer-nav a {
    font-family: 'A-OTF Ryumin Pr6N';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 64px;
}

/* .footer-nav ul{
    display: flex;
    justify-content:space-between;
    justify-items: center;
} */
.footer-inner-down {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
}

.footer_info {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}

.copyright {
    text-align: right;
    margin-bottom: 12px;
}

.footerlogo {
    width: 133px;
    margin-top: -3px;
}

.footer_info,
.copyright {
    font-family: 'A-OTF Ryumin Pr6N';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
}


/*==================================================
ふわっ
===================================*/

.fadeUpTrigger {
    opacity: 0;
}

/* その場で */
.fadeIn {
    animation-name: fadeInAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* FV の文字 時間差表示*/
.delay-time02 {
    animation-delay: 0.3s;
}

.delay-time04 {
    animation-delay: 1.2s;
}

.delay-time08 {
    animation-delay: 2.1s;
}


/* -----------------------------------------------------------------------------------------------------Smartphone */
@media screen and (max-width: 480px) {
    .smp_txt {
        display: inline;
    }

    .smp_item {
        display: block;
    }

    body {
        font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
        height: 100%;
        font-size: 14px;
        line-height: 32px;
        color: #231717;
        /* font-feature-settings: "palt"; */
    }

    /* スマホ版 sectionタイトルの遅延時間を変更*/
    .delay-time02 {
        animation-delay: 0.3s;
    }

    .section_inner .delay-time04 {
        animation-delay: 0.3s;
    }

    .delay-time08 {
        animation-delay: 2s;
    }

    #header {
        position: fixed;
        padding: 10px 20px 10px 20px;
        z-index: 100;
        margin: 0 auto;
        right: 0;
        left: 0;
    }

    h1 {
        padding-top: 78.7vw;
    }

    /* universal */
    h2 .title {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-top: -1.2vw;
    }

    h2 .title2 {
        font-size: 15px;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
    }

    h2 {
        margin-bottom: 60px;
    }


    h3 {
        font-family: a-otf-ryumin-pr6n, serif;
        font-weight: 300;
        font-style: normal;
        font-size: 6.15vw;
        line-height: 40px;
        font-feature-settings: "palt";
        letter-spacing: 0.5rem;
        margin-bottom: 40px;
    }

    .fv_scroll2 {
        width: 40px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #about h2 {
        text-align: right;
    }

    #about h3 {
        text-align: right;
    }

    .txt_up1,
    .txt_up2,
    .txt_up3 {
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
    }

    .txt_up1,
    .txt_up2 {
        margin-bottom: 32px;
    }

    .txt {
        font-family: 'YuGothic';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 38px;
        width: auto;
        /* or 253% */
        text-align: justify;
        letter-spacing: 0.05rem;
        /* font-feature-settings: "palt"; */
    }

    .txt_dwn {
        width: auto;
        bottom: auto;
        display: block;
        position: relative;
        margin-top: 60px;
        text-align: justify;
    }

    /*diplay block を打ち消すためここに配置*/
    .pc_txt {
        display: none;
    }

    #contains {
        margin-left: 30px;
        margin-right: 30px;
    }

    .section_inner {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    #fv {
        background-image: url(../images/biglogo2.png);
        background-position: center 60%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
        min-height: 736px;
        margin-left: 30px;
        margin-right: 0;

        /* FIXED 用に構成し直しました*/
        /* background-position: 9.0vw 60%; */
        /* background-size: 91.0vw; */
        background-attachment: scroll; /*--背景画像の固定--*/
    
    }

    .fv_title {
        padding-top: 78.7vw;
    }

    #about .section_inner {
        align-items: flex-end;
    }

    #about h2 {
        order: 1;
    }

    #about .txtbox {
        order: 2;
    }

    #value .section_inner {
        margin-bottom: 100px;
    }

    #partnership .section_inner {
        display: block;
        background-color: #f4f4f4;
        margin-left: -30px;
        margin-right: -30px;
    }

    #partnership .txt {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin: 0 30px 30px 30px;
    }

    #partnership .section_inner {
        padding: 60px 0 60px;
    }

    .btn_contact {
        width: auto;
        font-size: 16px;
        color: #fff;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .btn_contact a {
        display: block;
        /* width: 300px; */
        padding: auto;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 200% auto;
        background-image: linear-gradient(to right,
                #fff 0%,
                #fff 50%,
                #231717 50%,
                #231717 100%);
        box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
        transition: background-position ease 0.2s;
        text-align: center;
        color: #fff;
        text-decoration: none;
        padding: 20px 60px;
        border-radius: 10px;
        font-size: 16px;
    }


    /* ----------------------------------------------------------------------------------- */
    /* company */
    /* ----------------------------------------------------------------------------------- */
    table {
        table-layout: fixed;
    }

    .companyinfo th,
    .companyinfo td {
        border: 1px solid #ccc;
        border-left: none;
        border-right: none;
        padding: 2.2vw 0;
        text-align: left;
        line-height: 38px;
        font-size: 12px;
        line-height: 38px;
    }

    .companyinfo th {
        padding-right: 22vw;
        width: 60px;
    }

    .footer-nav a {
        font-size: 24px;
        line-height: 40px;
        padding: 2px 0;
    }

    .footer_info {
        flex-direction: column;
        align-items: flex-end;
        gap: 2px;
    }

    .footer-inner {
        margin: 0 30px;
        margin-top: 146px;
    }

    /* nav */
    .nav-list {
        display: none;
    }

    /*ハンバーガーボタン(3本線)パーツ*/

    #menu_btn_check {
        display: none;
    }

    .menu-btn {
        position: fixed;
        top: 15px;
        right: 20px;
        display: flex;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        /* background-color: #fff; */
        transition-duration: 0.3s;
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: "";
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 2px;
        background-color: #231717;
        position: absolute;
    }

    .menu-btn span:before {
        bottom: 8px;
    }

    .menu-btn span:after {
        top: 8px;
    }

    /*ハンバーガーメニューパーツ*/

    .hamburger-contents {
        background-color: #fff;
        color: #231717;
        position: fixed;
        width: 100%;
        height: 100%;
        max-width: 495px;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        transition-duration: 0.3s;
        z-index: 1;
        overflow: auto;
        transform: translateX(110%);
    }

    /*チェックボックス：オン・オフ動作のパーツ*/

    #menu_btn_check:checked~.hamburger-contents {
        transform: translateX(0);
    }

    #menu_btn_check:checked+.menu-btn {
        transform: translateX(340px);
        transition-duration: 0.3s;
    }

    /*閉じる動作のパーツ：ボタンか画面全体のマスクで閉じる*/

    .menu-close {
        display: block;
        background: #f4f4f4;
        text-align: center;
        margin-top: 15px;
    }

    #menu_btn_check:checked~label.menu-mask {
        display: block;
        width: 100vw;
        height: 100vh;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
    }

    /*チェックボックス非表示*/

    .hamburger-menu input[type="checkbox"] {
        transform: translateX(-50vw);
    }

    /* menu text*/
    .hamburger-menu h2 {
        margin-top: 4px;
        margin-bottom: 80px;
        font-size: 20px;
    }

    .burger-wrap {
        font-size: 24px;
        text-align: center;
        margin-left: 30px;
    }

    .burger-wrap li {
        margin-bottom: 24px;
        text-align: left;
    }

    #header li:last-child a {
        color: #231717;
        background-color: #fff;
        padding: 0;
    }

    .hamburger-contents img {
        opacity: 0.2;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    /* 
Menu Contact button
 */
    #header li:last-child a {
        display: block;
        /* width: 300px; */
        padding: 0;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 200% auto;
        background-image: linear-gradient(to right,
                #fff 0%,
                #fff 50%,
                #fff 50%,
                #fff 100%);
        box-shadow: 0 3px 10px rgb(0 0 0 / 0%);
        transition: background-position ease 0.4s;
        text-align: left;
        color: #231717;
        text-decoration: none;
        font-weight: bold;
        font-size: 24px;
    }

    #header li:last-child a:hover {
        background-position: 0 0;
        color: #231717;
    }
}

@media screen and (max-width: 960px) {

    .nav-list {
        display: none;
    }

    #header .smp_txt {
        display: inline;
    }

    /*ハンバーガーボタン(3本線)パーツ*/

    #menu_btn_check {
        display: none;
    }

    .menu-btn {
        position: fixed;
        top: 15px;
        right: 20px;
        display: flex;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        /* background-color: #fff; */
        transition-duration: 0.3s;
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: "";
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 2px;
        background-color: #231717;
        position: absolute;
    }

    .menu-btn span:before {
        bottom: 8px;
    }

    .menu-btn span:after {
        top: 8px;
    }

    /*ハンバーガーメニューパーツ*/

    .hamburger-contents {
        background-color: #fff;
        color: #231717;
        position: fixed;
        width: 100%;
        height: 100%;
        max-width: 495px;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        transition-duration: 0.3s;
        z-index: 1;
        overflow: auto;
        transform: translateX(110%);
    }

    /*チェックボックス：オン・オフ動作のパーツ*/

    #menu_btn_check:checked~.hamburger-contents {
        transform: translateX(0);
    }

    #menu_btn_check:checked+.menu-btn {
        transform: translateX(340px);
        transition-duration: 0.3s;
    }

    /*閉じる動作のパーツ：ボタンか画面全体のマスクで閉じる*/

    .menu-close {
        display: block;
        background: #f4f4f4;
        text-align: center;
        margin-top: 15px;
    }

    #menu_btn_check:checked~label.menu-mask {
        display: block;
        width: 100vw;
        height: 100vh;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
    }

    /*チェックボックス非表示*/

    .hamburger-menu input[type="checkbox"] {
        transform: translateX(-50vw);
    }

    /* menu text*/
    .hamburger-menu h2 {
        margin-top: 4px;
        margin-bottom: 80px;
        font-size: 20px;
    }

    .burger-wrap {
        font-size: 24px;
        text-align: center;
        margin-left: 30px;
    }

    .burger-wrap li {
        margin-bottom: 24px;
        text-align: left;
    }

    #header li:last-child a {
        color: #231717;
        background-color: #fff;
        padding: 0;
    }

    .hamburger-contents img {
        opacity: 0.2;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    /* 
Menu Contact button
 */
    #header li:last-child a {
        display: block;
        /* width: 300px; */
        padding: 0;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 200% auto;
        background-image: linear-gradient(to right,
                #fff 0%,
                #fff 50%,
                #fff 50%,
                #fff 100%);
        box-shadow: 0 3px 10px rgb(0 0 0 / 0%);
        transition: background-position ease 0.4s;
        text-align: left;
        color: #231717;
        text-decoration: none;
        font-weight: bold;
        font-size: 24px;
    }

    #header li:last-child a:hover {
        background-position: 0 0;
        color: #231717;
    }
}

@media screen and (max-width: 960px) {}